<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
	<meta content="width=device-width, user-scalable=no minimum-scale=1.0 maximum-scale=1.0" name="viewport" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name = "format-detection" content="telephone=no" />
	<title>DuurderGluurder</title>
  <link rel="stylesheet" href="../style.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

  </head>
  <body id="body">
  <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '201092619940862',
          xfbml      : true,
          version    : 'v2.0',
          status     : true
        });
      };
      
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
       
    </script>
    
  <div id="container">

	<div class="hdr">
		<div><img id="logo" src="http://www.funda.nl/img/hdr/funda-logo-hp.gif"> <span class="logoname">DuurderGluurder</span></div>
	</div>
    <div class="content">
      {{{content_for_layout}}} 
    </div>
    <div id="loading-overlay" style="display:none;">
      <div class="overlayer"></div>
      <div class="popup-container"><div><span class="loading-ind">Ronde wordt geladen</span></div></div>
    </div>
    <div
  class="fb-like"
  data-send="true"
  data-width="450"
  data-show-faces="true">
</div>
  </div>
  
  </body>
</html>