<div class="timeslider"><div></div></div>
<ul class="objects page-correct">
	<li class="object-left">
        <div class="username">
    	    {{#name}}{{#.}}
			<p class="welcomeback">
				<strong>{{name}}</strong>, welkom terug 
				(<a href="#">niet {{name}}?</a>)
			</p>
			<div class="scores">
				<p><strong>{{highscore.score}}</strong><br>Jouw highscore</p>
				<p><strong>{{highscore.rondes}}</strong><br>Aantal rondes</p>
			</div>
			<div class="action action-alt half">
				<fb:login-button id="fbBut" scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>  <a href="http://www.facebook.com/sharer.php?s=100&p[title]=Ik haalde "+{{{highscore.score}}}+" punten met DuurderGluurder&p[url]=http%3a%2f%2ffdx-c9-rawne_1.c9.io" target="_blank">Deel je highscore</a>
			</div>
            {{/.}}{{/name}}
    	    {{^name}}
    		<p class="input"><label for="inputUserName">Je naam</label> <input id="inputUserName" placeholder="funderiaan">
    			<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
				</fb:login-button>
    		</p>
    		
    		{{/name}}
    		

    	</div>
    	<div class="action"><a href="/speel">START spel</a></div>
    </li>
	<li class="object-right">
		<div class="highscores-list">
			<h2>Highscores</h2>
			<ul>
				{{#highscores}}
				<li>{{naam}} <span>{{score}}</span></li>
				{{/highscores}}
			</ul>
		</div>
	</li>
</ul>

<script type="text/javascript">
    $( document ).ready(function() {
    	$("#fbBut").hide();
        $("div.action a").click(function(){
            $("#loading-overlay").show();
            var ingevulde_naam = $("#inputUserName").val();
            if(ingevulde_naam !== undefined){
                document.cookie = "name=" + ingevulde_naam;
            }
            return true;
        });
        $("p.welcomeback a").click(function(){
            $("p.welcomeback").html('<p class="input"><label for="inputUserName">Je naam</label> <input id="inputUserName" placeholder="funderiaan"></p>');
            $("#fbBut").show();
            return false;
        });
    });
</script>